.search-card {
  max-width: 240px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  }
  
  .search-header-image {
    background-image: url('https://www.w3schools.com/howto/img_avatar.png');
    background-size: cover;
  }

  .word-break {
    word-break: break-all;
    font-size: 14px;
  }

  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }