<mat-card class="search-card">
  <mat-card-header>
    <div mat-card-avatar class="search-header-image"></div>
    <mat-card-title>Prénom Nom</mat-card-title>
    <mat-card-subtitle><i class="fas fa-briefcase"></i> Métier <i class="fas fa-map-marker-alt"> </i> Lieu</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
  <mat-card-content>
    <mat-chip-list aria-label="competence">
      <mat-chip color="warn" selected>Compét. 1</mat-chip>
      <mat-chip color="primary" selected>Compét. 2</mat-chip>
      <mat-chip color="accent" selected>Compét. 3</mat-chip>
      <mat-chip>+</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>AFFICHER</button>
    <button mat-button>CONTACTER</button>
  </mat-card-actions>
</mat-card>

<mat-card class="search-card">
  <mat-card-header>
    <div mat-card-avatar class="search-header-image"></div>
    <mat-card-title>Prénom Nom</mat-card-title>
    <mat-card-subtitle><i class="fas fa-briefcase"></i> Métier <i class="fas fa-map-marker-alt"> </i> Lieu</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
  <mat-card-content>
    <mat-chip-list aria-label="competence">
      <mat-chip color="warn" selected>Compét. 1</mat-chip>
      <mat-chip color="primary" selected>Compét. 2</mat-chip>
      <mat-chip color="accent" selected>Compét. 3</mat-chip>
      <mat-chip>+</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>AFFICHER</button>
    <button mat-button>CONTACTER</button>
  </mat-card-actions>
</mat-card>

<mat-card class="search-card">
  <mat-card-header>
    <div mat-card-avatar class="search-header-image"></div>
    <mat-card-title>Prénom Nom</mat-card-title>
    <mat-card-subtitle><i class="fas fa-briefcase"></i> Métier <i class="fas fa-map-marker-alt"> </i> Lieu</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
  <mat-card-content>
    <mat-chip-list aria-label="competence">
      <mat-chip color="warn" selected>Compét. 1</mat-chip>
      <mat-chip color="primary" selected>Compét. 2</mat-chip>
      <mat-chip color="accent" selected>Compét. 3</mat-chip>
      <mat-chip>+</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>AFFICHER</button>
    <button mat-button>CONTACTER</button>
  </mat-card-actions>
</mat-card>
