<mat-spinner *ngIf="isLoading"></mat-spinner>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
  <mat-card>
    <mat-card-title class="word-break">Filtres</mat-card-title>
    <mat-checkbox class="example-margin" >Compétence 1</mat-checkbox>
    <mat-checkbox class="example-margin" >Compétence 2</mat-checkbox>
    <mat-checkbox class="example-margin" >Compétence 2</mat-checkbox>
</mat-card>
</div>
  <ng-container *ngIf="users.length > 0 && !isLoading" >
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <mat-card class="search-card" *ngFor="let user of users" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
      <mat-card-header>
        <img mat-card-avatar *ngIf="!user.imagePath" src="https://assets.entrepreneur.com/content/3x2/2000/20180111134829-freelance-2906725-1920.png" alt="" class="imageAvatar" >
        <img mat-card-avatar *ngIf="user.imagePath"
            class="imageAvatar"
            [src]="user.imagePath"
          />
        <mat-card-title class="word-break"> {{user.email}}</mat-card-title>
        <mat-card-subtitle><i class="fas fa-briefcase"></i> {{user.role}} <i class="fas fa-map-marker-alt"> </i> {{user.location}}</mat-card-subtitle>
      </mat-card-header>
      <!--<img *ngIf="!user.imagePath" mat-card-image src="https://assets.entrepreneur.com/content/3x2/2000/20180111134829-freelance-2906725-1920.png" alt="">
      <img *ngIf="user.imagePath"
        class=" shadow-lg p-3 mb-5 bg-white rounded col-md-10  rounded mx-auto d-block"
        [src]="user.imagePath"
      />-->
      <mat-card-content>
        <mat-chip-list aria-label="competence">
          <mat-chip color="warn" selected *ngFor="let item of user.competencies" >{{item.name}}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/profil', user.id]">AFFICHER</button>
      </mat-card-actions>
    </mat-card>
  </div>
  </ng-container>