.center {
    position: fixed;
    width: 100%;
    height: 200px;
    top: 50%;
    /* left: 50%; */
    margin-top: -100px; /* Negative half of height. */
    /* margin-left: -250px; */
  }

  .view {
    height: 100vh !important;
    background-image: url('/assets/images/freelancers.jpeg');
    width: 100vw;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -20px;
    margin-top: -20px;
  }
