<mat-card class="example-card">
  <flash-messages></flash-messages>
  <mat-card-header *ngIf="role == 'User' || role == 'Admin'" >
    <button mat-stroked-button type="button" (click)="filePicker.click()">Pick image</button>
    <!-- <div mat-card-avatar class="example-header-image" (click)="filePicker.click()" > -->
      <div  class="avatar mx-auto white" *ngIf="imagePreview !== '' && imagePreview && registrationForm.get('image').valid">
        <img mat-card-md-image [src]="imagePreview" [alt]="registrationForm.value.image.name" class="rounded-circle "  />
      </div>
    <!-- </div> -->
      <form class="example-form" [formGroup]="registrationForm" (submit)="onSaveUser()">
          <input type='file' id="pictureDeveloper" #filePicker (change)="onImagePicked($event)" />
        <mat-form-field class="example-full-width">
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Dupont" value="" formControlName="lastname"  >
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="jean.dupont@domaine.com" value="Email" formControlName="email"  >
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+33 &nbsp;</span>
            <input type="tel" matInput placeholder="0123456789" value="" formControlName="phoneNumber"  >
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          <div id="passwordDiv" *ngIf="mode == 'created'">
            <mat-form-field class="example-full-width">
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password" placeholder="Mot de passe" formControlName="password"  >
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Confirmation mot de passe</mat-label>
                <input matInput type="password" placeholder="Confirmation mot de passe" formControlName="confirmationPassword"  >
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </div>
          <button *ngIf="mode == 'created'" mat-raised-button color="accent" [disabled]="registrationForm.invalid" >S'inscrire</button>
          <button *ngIf="mode == 'edit'" mat-raised-button color="accent" [disabled]="registrationForm.invalid" >Modifier</button>
      </form>
  </mat-card-header>

    <mat-card-header *ngIf="role=='Freelance'" >
      <div mat-card-avatar class="example-header-image" (click)="filePicker.click()" > <i *ngIf="!imagePreview && registrationForm.get('image').invalid"> add image</i>
        <div  class="avatar mx-auto white" *ngIf="imagePreview !== '' && imagePreview && registrationForm.get('image').valid">
          <img mat-card-md-image [src]="imagePreview" [alt]="registrationForm.value.image.name" class="rounded-circle "  />
        </div>
      </div>
      <form class="example-form" [formGroup]="registrationForm" (submit)="onSaveUser()">
          <input type='file' id="pictureDeveloper" #filePicker (change)="onImagePicked($event)" />
        <mat-form-field class="example-full-width">
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Dupont" value="" formControlName="lastname"  >
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="Jean" value="" formControlName="firstname"  >
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Adresse email</mat-label>
            <input matInput placeholder="jean.dupont@domaine.com" value="Email" formControlName="email"  >
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>N° de téléphone</mat-label>
            <span matPrefix>+33 &nbsp;</span>
            <input type="tel" matInput placeholder="0123456789" value="" formControlName="phoneNumber"  >
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Selectionner une ville</mat-label>
            <mat-select formControlName="location"  id="location" [(value)]="citySelected" >
              <mat-option *ngFor="let city of cities | async" [value]="city.id">
                  {{city.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width" >
            <mat-label>Selectionner des compétences</mat-label>
            <mat-select  formControlName="competencies"  id="competencies" [(value)]="competenciesSelected" multiple>
              <mat-option *ngFor="let competency of competencies | async" [value]="competency.id">
                {{competency.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div id="passwordDiv" *ngIf="mode == 'created'">
            <mat-form-field class="example-full-width">
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password" placeholder="Mot de passe" formControlName="password"  >
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width" >
                <mat-label>Confirmation mot de passe</mat-label>
                <input matInput type="password" placeholder="Confirmation mot de passe" formControlName="confirmationPassword"  >
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </div>
          <button *ngIf="mode == 'created'" mat-raised-button color="accent" [disabled]="registrationForm.invalid" >S'inscrire</button>
          <button *ngIf="mode == 'edit'" mat-raised-button color="accent" [disabled]="registrationForm.invalid" >Modifier</button>
      </form>
    </mat-card-header>
  </mat-card>
