<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Dupont" value="Nom">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="Jean" value="Prénom">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="jean.dupont@domaine.com" value="Email">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+336 &nbsp;</span>
            <input type="tel" matInput placeholder="03946429" value="03946429">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
      </form>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
