<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card class="search-card" *ngIf="user">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{user.lastname}}</mat-card-title>
      <mat-card-subtitle>{{user.firstname}}</mat-card-subtitle>
      <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
      <mat-card-subtitle><i class="fas fa-briefcase"></i> {{user.role}} 
        <i class="fas fa-map-marker-alt" > </i> 
        <i *ngIf="user.location">{{user.location.name}}</i>
      </mat-card-subtitle>
    </mat-card-header>
    <img
        class=" shadow-lg p-3 mb-5 bg-white rounded col-md-10  rounded mx-auto d-block"
        [src]="user.imagePath"
      />
    <mat-card-content>
      <p>
            <mat-chip-list aria-label="competence">
              <mat-chip color="warn" selected *ngFor="let item of user.competencies" >{{item.name}}</mat-chip>
            </mat-chip-list>
    
      </p>
    </mat-card-content>
    <mat-card-actions *ngIf="!pathByProfile">
      <button mat-button>Contacter</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="pathByProfile">
      <button mat-button [routerLink]="['/edit', user.id]" >modifier</button>
    </mat-card-actions>
  </mat-card>
