<div class="example-container" fxLayout="row" fxLayoutAlign="end"
    [class.mat-elevation-z3]="isActive">

      <ng-container *ngIf="isAuthenticate">
        <span  fxFlex="95" >
          <a mat-flat-button routerLink="/" >SUPER MALT</a> 
        </span >
        <span>
          <a mat-button routerLinkActive="mat-accent" (click)="onLogout()">Logout</a>
        </span>
      </ng-container>
      <ng-container  *ngIf="!isAuthenticate">
          <span  fxFlex="75" >
            <a mat-flat-button routerLink="/" >SUPER MALT</a> 
          </span >
        <span>
            <button mat-flat-button color="primary">Je suis freelance</button>
            <!-- <a mat-flat-button routerLink="/signup" routerLinkActive="mat-accent">Je suis freelance</a> -->
          </span>
        <span>
            <a mat-button routerLink="/signUp">M'inscrire</a>
          </span>
          <span>
            <a mat-button routerLink="/login">Me connecter</a>
          </span>
      </ng-container>      
</div>